*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1.1em;
  padding-bottom: .1em;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  /*background-color: purple;*/
}

.header1 {
  text-align: center;
  padding: 10px 0 10px 0;
}

.header1 p {
  font-family: 'PT Serif', serif;
  font-style: italic;
}

.header2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

.header2 h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.7em;
  text-align: center;
}

.header2 h1:before {
	content: "";
	display: block;
	border-top: solid 10px black;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 40%;
	z-index: 1;
}

.header2 h1 span {
	background: #fff;
	padding: 0 20px;
	position: relative;
	z-index: 5;
}

.col-1 {
  width: 20%;
  float: left;
  /*background-color: pink;*/
  padding: 30px 25px 0 0;
  position: relative;
}

.col-1 p {
  font-size: 1em;
}

.caption {
  text-align: right;
  font-size: .7em;
  color: red;
  padding: 15px 0;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.absolute {
  position: absolute;
  right: 20px;
  width: 100px;
}

.absolute2 {
  position: absolute;
  right: -50px;
  width: 100px;
}

.absolute3 {
  position: absolute;
  width: 75px;
  background-color: white;
  bottom: -10px;
  z-index: 999;
  font-style: italic;
  font-size: 1.3em;
  font-family: 'PT Serif', serif;
}

.col-2 {
  width: 55%;
  float: left;
  /*background-color: green;*/
  margin: 0 20px 20px 20px;
  padding-top: 30px;
}

.col-3 {
  width: 20%;
  float: left;
  padding-top: 30px;
  /*background-color: yellow;*/
}

.col-3 p{
  font-size: .8em;
}

.col-2 img {
  width: 100%;
}

section {
  clear: both;
}

.lower-section-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.lower-section-wrapper {
  border-left: 1px dashed gray;
  border-top: 1px dashed gray;
  border-right: 1px dashed gray;
  border-bottom: 20px solid black;
  /*background-color: orange;*/
}

.lower-section-heading {
  width: 100%;
}

.lower-section-heading h1 {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.6em;
  letter-spacing: .2em;
  padding: 15px;
  margin: 0;
}

.lower-section-col {
  float: left;
  width: 33.33%;
  padding: 8px 35px;
  min-height: 180px;
  border-right: 1px dashed gray;
  text-align: center;
  font-size: .9em;
}

.lower-section-col:last-of-type {
  border-right: 0;
}

.lower-section-col h1 {
  font-weight: bold;
}

.serif-italic {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: .9em;
  padding-bottom: 10px;
}

.footer1 {
  clear: both;
  /*background-color: yellow;*/
  border-bottom: 10px solid black;
}

.footer1 p {
  font-family: 'PT Serif', serif;
  letter-spacing: .1em;
  font-size: .6em;
  padding: 25px 0;
}

.reduce-font {
  font-size: 8px;
}

.photo-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: -.01em;
}

.footer1::after {
  content: "";
  display: table;
  clear: both;
}

.footer2 {
  /*background-color: red;*/
  padding: 15px 0;
  text-align: right;
  clear: both;
}

.footer2 p {
  font-family: 'PT Serif', serif;
}

.page-number {
  color: red;
  font-size: 1.4em;
}

.padding-right {
  padding-right: 15px;
}

.bump-up-font {
  font-size: 2.6em;
  line-height: .9em;
}

.bold {
  font-weight: bold;
}

.padding-bottom {
  padding-bottom: 10px;
}

.red {
  color: red;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}
